<div class="home-news">
  {% if site.latest_posts != blank %}
    {% assign latest_posts_size = site.posts | size %}

    {% if site.latest_posts.limit %}
      {% assign latest_posts_limit = site.latest_posts.limit %}
    {% else %}
      {% assign latest_posts_limit = 3 %}
    {% endif %}

    <div class="home-news-list">
      {% for item in site.posts limit: latest_posts_limit %}
        <div class="home-news-item">
          <time datetime="{{ item.date | date_to_xmlschema }}">
            {{ item.date | date: "%b %-d, %Y" }}
          </time>

          <a href="{{ item.url | relative_url }}">
            {{ item.title }}
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No posts so far...</p>
  {% endif %}
</div>