<div class="home-news">
  {% if site.news != blank -%}
    {%- assign news_size = site.news | size -%}
    {%- assign news = site.news | reverse -%}


    <div class="home-news-list">
      {% if include.limit %}
        {% assign news_limit = include.limit %}
      {% else %}
        {% assign news_limit = news_size %}
      {% endif %}

      {% for item in news limit: news_limit %}
        <div class="home-news-item">

          <time datetime="{{ item.date | date_to_xmlschema }}">
            {{ item.date | date: "%b %-d, %Y" }}
          </time>

          <div class="home-news-content">
            {% if item.inline -%}
              <div>
                {{ item.content | strip_html | emojify }}
              </div>

              {% if item.link %}
                <a href="{{ item.link | relative_url }}">Read more →</a>
              {% endif %}
            {%- else -%}
              <div>
                {{ item.content | strip_html }}
              </div>

              <a href="{{ item.url | relative_url }}">Read more →</a>
            {%- endif %}
          </div>

        </div>
      {%- endfor %}
    </div>

  {%- else -%}
    <p>No news so far...</p>
  {%- endif %}
</div>